// Global Components
:root {
  --white: #ffffff;
  --black: #000000;
  --cream: #ffedd9;
  --espresso: #352923;
  --cappuccino: #884615;
  --mocha: #7d3703;
  --grey: #4b4b4b;
  --orange: #f16c07;

  --normal-font: 'Wotfard';
  --titles-font: 'Litila One';

  --first-breakpoint: 1000px;
  --second-breakpoint: 700px;
  --margin-full: 144px;
  --margin-half: 50px;
  --margin-small: 16px;
}

$custom-font-name: 'Wotfard';
$custom-font-path: '/fonts/Wotfard-Regular.otf';

@font-face {
  font-family: $custom-font-name;
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url($custom-font-path) format('opentype');
}

@font-face {
  font-family: 'Litila One';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/LilitaOne-Regular.ttf) format('truetype');
}

@media screen and (max-width: 768px) {
  .logo-wrapper {
    text-align: center;

    .logo {
      margin-bottom: 50px;
    }
  }

  .roo {
    display: none;
  }

  .logo-nav-wrapper {
    flex-direction: column-reverse !important;
  }

  header .nav-wrapper {
    margin-top: 0px !important;
  }

  .logo-nav-wrapper {
    flex-direction: column!important;
  }

  .nav-logo {
    flex-direction: column-reverse !important;
  }

  .my-flexbox.row-collapse {
    flex-direction: column !important;
  }

  .post-container {
    margin-top: 15px;
  }  
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .roo {
    width: 355px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .roo {
    width: 355px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1171px;
  }

  .roo {
    width: 355px;
  }
}

#tooltip {
  cursor: help;
  text-decoration: underline;
  color: var(--orange);
}

body {
  font-family: var(--normal-font);
  -webkit-font-smoothing: subpixel-antialiased;
  color: var(--black);
  display: flex;
  flex-direction: column;

  blockquote {
    border-left: 5px solid var(--cappuccino);
    color: var(--grey);
    font-size: 1em;
  }

  .container {
    min-height: calc(100% - (header height + footer height));
    flex-grow: 1;
  }

  .my-flexbox {
    display: flex;

    &.center {
      align-items: center;
    }

    &.row-collapse {
      flex-direction: row;
    }

    &.column {
      flex-direction: column;
    }

    &.row {
      flex-direction: row;
    }

    &.row-reverse {
      flex-direction: row-reverse;
    }

    &.basic-gap {
      gap: 6px
    }
  }

}

center.no-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

header {
  background-color: var(--cream) !important;

  .logo {
    margin-top: 35px;
    width: 279px;
  }

  .nav-wrapper {
    margin-top: 56px;
    position: relative;
    margin-left: -10px;
  }

  a img {

    &:hover,
    &:focus {
      cursor: pointer !important;
    }
  }

  svg {
    transform: rotate(180deg);
  }

  nav {

    &.navbar-custom.invert .nav li a {
      font-family: var(--normal-font);
      color: var(--mocha);
      text-transform: capitalize;
      font-size: 18px;
    }

    .container-fluid {
      padding: 0px;
    }
  }

  .meta {
    font-size: 13px;
    font-style: italic;
  }

  .tags {
    margin: 20px 0px 10px;
  }

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titles-font);
  color: var(--espresso);
}

.post-content-preview {
  font-family: var(--normal-font);
  font-size: 14px;
  font-style: normal;
  color: var(--black) !important;
}

.post-preview {
  .post-meta {
    font-size: 13px;
  }

  .post-cover {
    height: 196px;
    width: 196px;
    margin: 5px;
    border-radius: 3px;
  }
}

img.cover-img {
  width: 196px;
  height: 196px;
  border-radius: 10px;
}

.pager li>a, .pager li>span {
  border: 1px solid white;
}

.post-container {
  a {
    color: var(--cappuccino);
  }

  img {
    display: block;
    max-width: unset;
    height: auto;
    margin: 0px;
  }
}

footer {
  margin-top: 10px;
  background-color: var(--cream);
  color: var(--espresso);
  font-family: var(--titles-font);
  font-size: 18px;
  padding: 25px 0px 5px;

  .list-inline {
    margin-bottom: 15px;
  }

  .logo {
    width: 130px;
  }

  p {
    text-align: center;
    margin: 5px 0px;
  }

  .copyright {
    font-family: var(--normal-font);

    a {
      color: var(--cappuccino);
    }
  }
}