{{ $header_img := .Scratch.Get "header_img" }}
{{ $waveEffect := partial "wave.html" }}

{{ if .IsPage }}
<style type="text/css">
  header.intro-header {
    position: relative;
    background-image: url('{{ with $header_img }}{{- . -}}{{ end }}');
  }
</style>
{{ if $header_img }}
<header class="intro-header">
  {{ else }}
  <header class="intro-header style-text">
    {{ end }}
    <div class="header-mask"></div>

    <div class="container flex-wrap">
      <div class="row d-flex">
        <div class="col-md-6 col-sm-8">

          <div class="logo-nav-wrapper my-flexbox column">
            <div class="logo-wrapper">
              <a href="{{ .Site.BaseURL | safeURL }}">
                <img class="logo" src=" {{ absURL  $.Site.Params.logo_img }}" alt="Roo Recipes">
              </a>
            </div>
            <div>
              <div class="title-wrapper">
                <h1>{{ .Title }}</h1>
                <h2 class="subheading">{{ $.Params.subtitle }}</h2>
              </div>
              <span class="meta">
                Posted by {{ with $.Params.author }} {{ $.Params.author }} {{ else }} {{ .Site.Params.author }} {{ end
                }}
                on {{ .Date.Format "Mon, Jan 2, 2006" }}
              </span>
              <div class="tags">
                {{ range (.GetTerms "tags") }}
                <a class="tag" href="{{ .Page.RelPermalink }}" title="{{ .LinkTitle}}">{{ .LinkTitle }}</a>
                {{ end }}
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-6 col-sm-4 my-flexbox row-reverse">
          <img class="roo" src=" {{ absURL $.Site.Params.cheff_roo }}" alt="Chef Roo">
        </div>

      </div>
    </div>









  </header>
  {{ else }}
  {{ with $header_img }}
  <header class="intro-header" style="background-image: url('{{- . -}}')">
    {{ else}}
    <header class="intro-header style-text">
      {{ end }}
      <div class="container flex-wrap">
        <div class="row d-flex">
          <div class="col-md-6 col-sm-8">

            <div class="logo-nav-wrapper my-flexbox column">
              <div class="logo-wrapper">
                <a href="{{ .Site.BaseURL | safeURL }}">
                  <img class="logo" src=" {{ absURL $.Site.Params.logo_img }}" alt="Roo Recipes">
                </a>
              </div>
              <div class="nav-wrapper">
                {{ partial "nav.html" . }}
              </div>
            </div>

          </div>
          <div class="col-md-6 col-sm-4 my-flexbox row-reverse">
            <img class="roo" src=" {{ absURL $.Site.Params.cheff_roo }}" alt="Chef Roo">
          </div>

        </div>
      </div>

      <!-- {{ $waveEffect }} -->
    </header>
    {{ end }}