@font-face {
  font-family: 'Inter var';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-roman.latin.var.woff2) format('woff2');
}
@font-face {
  font-family: 'Inter var';
  font-style: italic;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Inter-italic.latin.var.woff2) format('woff2');
  font-named-instance: 'Italic';
}

@font-face {
  font-family: 'Wotfard';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/Wotfard-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Litila One';
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
  src: url(/fonts/LilitaOne-Regular.ttf) format('truetype');
}

:root {
  --white: #ffffff;
  --black: #000000;
  --cream: #ffedd9;
  --espresso: #352923;
  --cappuccino: #884615;
  --mocha: #7d3703;

  --first-breakpoint: 1000px;
  --second-breakpoint: 700px;
  --margin-full: 144px;
  --margin-half: 50px;
  --margin-small: 16px;
}

body {
  font-family: 'Wotfard';
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: -0.02em;

  margin: 0px;
  padding: 0px;
  background: var(--white);
  color: var(--espresso);
}
b,
strong,
h3,
h4,
h5,
h6 {
  color: var(--espresso);
  font-family: 'Litila One';
  font-variation-settings: 'wght' 650;
}
h1 {
  color: var(--espresso);
  font-family: 'Litila One';
}
h2 {
  color: var(--espresso);
  font-family: 'Litila One';
}

body #__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media screen and (min-device-pixel-ratio: 1.5),
  screen and (min-resolution: 1.5dppx) {
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

details summary {
  cursor: pointer;
}

img.next-image {
  margin: 0;
}

.prose a {
  color: var(--mocha);
}

.nav-line .nav-link {
  color: var(--cappuccino);
  font-family: 'Wotfard';
}

.container {
  margin: 65px var(--margin-full);
  flex-grow: 1;
}

@media only screen and (max-width: 1000px) {
  .container {
    margin: 10px var(--margin-half);
  }
}

@media only screen and (max-width: 700px) {
  .container {
    margin: 10px var(--margin-small);
  }
}
